#container {
    margin-left: 100px;
    position: relative;
}

#d3north {
    background: linear-gradient( 0deg, #488AC7, #0000A0, #000080);
    width: 800px;
    height: 600px;
}

.indented {
    margin-left:100px;
}

#direction {
    margin-left: 50px;
}

.d3tooltip {
    border-radius: 2px;
    line-height: 1;
    padding: 12px;
    color: black;
    border-color: #90F5BC;
    border-width: 1px;
    background: white;
    border-style: solid;
}
