body{
  padding-left: 20px;
  background-size: cover;
  background-image: url("nighttrees.jpg");
  background-repeat: no-repeat;
  background-color: black;
  color: white;
  width: 100%;
}

.navbar-default{
  margin-left: -20px;
}

#d3starfield {
  border-radius: 40px 40px 5px 5px;
  /*border-width: 5px;
  border-style: solid;
  border-color: rgba(128,128,128,0.5);*/
  background: linear-gradient( 0deg, #21466e, #10243c, #010e1d);
/*  background: linear-gradient( 0deg, #293196, #0c0f54, #020417);*/
/*  background: linear-gradient( 0deg, #488AC7, #0000A0, #000080);*/
  width: 800px;
  height: 600px;
  box-shadow: 8px 11px 18px 2px black;
}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

#directionValues {
  width: 150px;
  height: 30px;
  font-weight: bold;
  font-size: 20px;
}

#directionValues option{
  font-weight: bold;
  font-size: 20px;
}

.indented {
  margin-left: 80px;
  margin-bottom: 20px;
}

#direction {
    margin-left: 50px;
    margin-bottom: 20px;
    display: inline-block;
}

.d3tooltip {
    border-radius: 1px;
    line-height: 1;
    padding: 5px;
    color: black;
    border-color: #90F5BC;
    border-width: 2px;
    background: white;
    border-style: solid;
    font-weight: bold;
}

#constellation {
    margin-right: 500px;
    display: inline-block;
}

.box {
  position: relative;
/*  width:900px;*/
/*  border-width: 5px;
  border-style: solid;*/
 /* background-color: rgba(128,128,128,0.5);*/
}

.image {
  width: 30px;
  height: auto;
}

.rarrow {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 60px;
  padding-right: 30px;
  top: 25%;
  left: 690px;
}

.larrow {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 30px;
  padding-right: 60px;
  top: 25%;
  left: -5px;
}

.rarrow:hover {
  opacity: 0.8;
}

.larrow:hover {
  opacity: 0.9;
}

.skyline {
  position: absolute;
  top: 93.5%;
  width:800px;
}

.city {
    width:800px;
    height:40px;
}

#v_const {
  width: 200px;
  height: 600px;
  left: 810px;
  top: 0%;
  position: absolute;
  font-size: 18px;
}

select:disabled {
  color: gray;
}

button:disabled {
  background-color: gray;
}

.click {
  pointer-events: none;
}

.hidden {
  display: none;
}


.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
color: #5488d8;  /*Sets the text hover color on navbar*/
}

.navbar-default {
  color: white;
  background-image: url("nighttrees1.jpg");
  background-color: black;
  border-color: black;
  opacity:0.8;
  border-color: black;
}

.nav > li > a:hover,
.nav > li > a:focus {
  background-color: white;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active >   
 a:hover, .navbar-default .navbar-nav > .active > a:focus {
color: white; 
background: #5488d8;
font-weight: bold;
}

.navbar-default .navbar-nav > li > a {
   color: white; /*Change active text color here*/
    }

button {
  background-color: black;
  color: white;
}

select {
  background-color: rgba(0,0,0,0.2);
}

option {
  background-color: black;
}

input {
  background-color: rgba(0,0,0,0.2) !important;
  color: white !important;
}

.twoforms {
  border-width: 1px;
  border-style: dotted;
  border-color: white;
  padding: 10px;
  width: 800px;
}

#homeimage {
  width:auto;
  position: absolute;
  margin-top: 2%;
  margin-left:12%;
  margin-right: auto;
  opacity:0.2;
/*  background-repeat: no-repeat;
  background-image: url(chart.jpg);*/
/*  color:black;
  text-align: center;*/
  z-index: 0;
}

#homepage {
  position:absolute;
  margin-left: 7%;
  margin-top: 5%;
  z-index: 10;
}

h2{
/*font-family: 'Great Vibes', cursive;*/
font-family: 'Tangerine', cursive;
font-size:55px;
/*font-family: 'Pinyon Script', cursive;
font-family: 'Petit Formal Script', cursive;
font-family: 'Italianno', cursive;
font-family: 'Herr Von Muellerhoff', cursive;
font-family: 'Meddon', cursive;*/
}
h2.cursive {
  font-family: 'Tangerine', cursive;
  font-size:35px;
}

.black {
  background: rgba(0,0,0,0.3);
  color: white;
}

.dotted-form {
  width:550px;
  border-width:1px;
  border-style: dotted;
  border-color: white;
  padding:6px;
  padding-bottom: 10px;
  padding-left:10px;
}