<!doctype html>
<html>
<head>
<title>Night Generator - {% block title %}PAGE TITLE GOES HERE{% endblock %}</title>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  {% endwith %}
 <link rel="stylesheet" href='/static/styles.css'>
</head>

<a href="/"><button type=button>homepage</button></a>
{% if 'user_id' in session %}
  <a href="/logout"><button type=button>log out</button></a>
  <a href="/users/{{ session.get('user_id') }}">
    <button type=button>Your Profile</button></a>
{% else %}
  <a href="/login"><button type=button>log in</button></a>
  <a href="/register"><button type=button>register</button></a>
{% endif %}
<br><br>

{% block content %}CONTENT HERE{% endblock %}

<script src='/static/scripts.js'></script>
</body>
</html>