{% extends 'base.html' %}
{% block title %}Sky{% endblock %}
{% block content %}
<h2>Star View</h2>
<form id="direction">
    Select a direction:
    <select id="directionValues">
        <option value="North">North</option>
        <option value="East">East</option>
        <option value="South">South</option>
        <option value="West">West</option>
    </select>
</form>
<br>
<div id="container" >
    <div id='d3north' >
    </div>
</div>
<br>
<p class="indented">Note: only stars with a magnitude less than 5 are shown</p>
<br>
<form class="indented" id="otherParams">
    Latitude:
    <input type="number" name="latitiude">&emsp;  
    Longitude:
    <input type="number" name="latitiude">&emsp;
    Time:
    <input type="number" name="time">&emsp;
</form>
<br>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src='/static/starsd3.js'></script>
{% endblock %}