{% extends 'base.html' %}
{% block title %}Sky{% endblock %}
{% block content %}
<h2>Star View</h2>
<form id="direction">
    Select a direction:
    <select id="directionValues">
        <option value="North">North</option>
        <option value="East">East</option>
        <option value="South">South</option>
        <option value="West">West</option>
    </select>&emsp;&emsp;
</form>
<button type="button" id="constellations">Constellations</button>
<button type="button" id="clear">Clear</button>
<div class="indented">
    <div id='d3starfield'></div>
</div>
<p class="indented">Note: Default lat/long is for Hackbright, San Francisco, CA.  Default time is now</p>
<p class="indented">{% if "lat" in session %}
    Latitude: {{ '%.10f' | format(session['lat']) }} radians&emsp;
{% endif %}
{% if "lon" in session %}
    Longitude: {{ '%.10f' | format(session['lon']) }} radians&emsp;
{% endif %}
{% if "time" in session %}
    DateTime in UTC: {{ session["time"] }}
{% else %}
    DateTime: now
{% endif %}
</p>
<form action="/change_defaults" class="indented" id="otherParams">
    <label for="latitude">Latitude*:</label>&emsp;
    <input type="number" step="any" name="latitude" placeholder="degrees as a decimal">
    <label for="longitude">Longitude*:</label>&emsp;
    <input type="number" step="any" name="longitude" placeholder="degrees as a decimal"><br>
    <label for="date">Date/Time:</label>
    <input type="datetime-local" step="any" name="date">
    <input type="submit" value="Submit/Reset">
</form>
* for South latitude or West longitude enter a negative value: 
64.9090S = -64.9090, 72.0567W = -72.0567, 
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src='/static/starsd3.js'></script>
{% endblock %}