{% extends 'base.html' %}
{% block title %}Sky{% endblock %}
{% block content %}
<h2>Star View</h2>
<form id="direction">
    Select a direction:
    <select id="directionValues">
        <h3><option value="North">North</option></h3>
        <h4><option value="East">East</option></h4>
        <h5><option value="South">South<h5></option></h5>
        <option value="West">West</option>
    </select>&emsp;&emsp;
</form>
<button type="button" class="const hidden" id="constellations" disabled>Constellations</button>
<button type="button" class="const hidden" id="clear" disabled>Clear</button>
<div class="box indented">
    <div id='d3starfield'></div>
    <div class='rarrow arrow'>
        <img src='/static/arrow-right.png' alt="arrow" class="image">
    </div>
    <div class='larrow arrow'>
        <img src='/static/left-arrow.png' alt="arrow" class="image">
    </div>
    <div class="skyline">
        <img src='/static/skyline1.png' alt="horizon" class="city">
    </div>
    <div id="v_const"></div>
</div>
<!-- displaying time and location -->
<p class="indented">{% if "d_lat" in session %}
    Latitude: {{ '%.10f' | format(session['d_lat']) }}&deg;&emsp;
{% else %}
    Default lat/long is for Hackbright Academy, San Francisco, CA
{% endif %}
{% if "d_lon" in session %}
    Longitude: {{ '%.10f' | format(session['d_lon']) }}&deg;&emsp;
{% endif %}
{% if "time" in session %}
    DateTime in UTC: {{ session["time"] }}
{% else %}
    DateTime: now
{% endif %}
</p>
<!-- adjusting time and location -->
<form action="/change_defaults" class="indented hidden" id="otherParams" >
    Enter a Location to autofill latitude and longitude:&emsp; <input id="geocomplete" type="text" placeholder="Type in an address" value="Hackbright Academy">
      <fieldset>
        <label for="lat">Latitude:</label>&emsp;
        <input type="number" step="any" name="lat" placeholder="degrees as a decimal" value="">
        <label for="lng">Longitude:</label>&emsp;
        <input type="number" step="any" name="lng" placeholder="degrees as a decimal" value=""><br>
      </fieldset>
    <label for="date">Date/Time:</label>
    <input type="datetime-local" step="any" name="date">
    <input type="submit" value="Submit">
</form>
<form action="/clear" class="indented hidden" id="paramReset">
    <input type="submit" id="reset" value="Reset Time and Location">
</form>
<!-- scripts -->
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src='/static/starsd3.js'></script>
<script src="http://maps.googleapis.com/maps/api/js?key={{ secret }}&libraries=places"></script>
<script src="static/jquery.geocomplete.js"></script>
{% endblock %}