{% extends 'base.html' %}
{% block title %}User List{% endblock %}
{% block content %}

    <h2>Stars</h2>
    <ul>
      {% for star in stars %}
          <li>
              <a href="/stars/{{ star.star_id }}">
                {{ star.star_id }} ({{ star.ra }}, {{ star.dec }})
              </a>
          </li>
      {% endfor %}
    </ul>
    <form action="/stars">
      Jump to star ids starting at:
      <input type="integer" name="last" value={{ last }}>
      <input type="submit" value="Next 1000 results">
    </form>

{% endblock %}