{% extends 'base.html' %}
{% block title %}Star Info{% endblock %}

{% block content %}
{% if star == None %}
    <br><br>
    <h2>There are no stars in this database with that ID, please try again</h2>
{% else %}
    <h2>Info for Star {{ star.star_id }}</h2>

    {% if (star.name | default("False", true) != "False") %}
        <h3>Proper Name:</h3> {{ star.name}}
    {% endif %}
    <h3>Right Ascension:</h3> {{ star.ra }}

    <h3>Declination:</h3> {{ star.dec }}

    <h3>Distance from Earth:</h3> {{ star.distance }}

    <h3>Magnitude:</h3> {{ star.magnitude }}

    <h3>Color Index:</h3>{{ star.color_index }}

    {% if 'user_id' in session %}
    <div id='saveStarInfo' class = "saveStar">
        <h3>Add Star To Saved List: </h3>
        <button id="addStar" value='{{ star.star_id }}'>add</button><div id='message'></div>
    </div>
    {% endif %}
{% endif %}

{% endblock %}
