{% extends 'base.html' %}
{% block title %}{{ user.username }}Info{% endblock %}
{% block nav_profile %}active{% endblock %}
{% block content %}

<h2>Info for User {{ user.user_id }}</h2>

<h3>username:</h3> {{ user.username }}

<h3>e-mail:</h3> {{ user.email }}
{% if 'user_id' in session %}
{% if (user.lat | default("False", true) != "False") %}
<h3>your location:</h3> {{ user.lat }}, {{ user.lon }}
{% endif%}
<br><br>
<div class="dotted-form">
    <h4>Set Your Location:</h4>
    <form class="form-inline latlng" action="/set_user_location" id="otherParams">
    <input id="geocomp" class="form-control" type="text" placeholder="Type in an address"><br>
  <div class="form-group">
    <fieldset>
       <!-- <label class="sr-only" for="lat">Latitude:</label>&emsp; -->
        <input type="number" class="form-control" step="any" name="lat" placeholder="Latitude" value="">
        <!-- <label class="sr-only" for="lng">Longitude:</label>&emsp; -->
        <input class="form-control" type="number" step="any" name="lng" placeholder="Longitude" value="">&emsp;<button type="submit" class="btn btn-default black">Submit</button><br>
      </fieldset> 
  </div>
</form></div>

{% endif %}
{% if stars | length > 0 %}
<h3>Saved Stars:</h3>
<ul>    
{% for key, value in stars.iteritems() %}
    <li>
        <a href="/stars/{{ key }}">{{ key }}</a> 
        {% if 'name' in value %}
            {{ value['name'] }} 
            {% if 'visible' in value %}
                -> Visible now: {{ value['visible'] | join(', ') }}
            {% endif %}
        {% else %}
            at (ra: {{ '%.4f' | format(value['ra']) }}, dec: {{ '%.4f' | format(value['dec']) }})
            {% if 'visible' in value %}
                -> Visible now: {{ value['visible'] | join(', ') }}
            {% endif %}
        {% endif %}
    </li>
{% endfor %}
</ul>
{% endif %}
<script src="http://maps.googleapis.com/maps/api/js?key={{ secret }}&libraries=places"></script>
<script src="/static/jquery.geocomplete.js"></script>
{% endblock %}
