{% extends 'base.html' %}
{% block title %}{{ user.username }}Info{% endblock %}

{% block content %}

<h2>Info for User {{ user.user_id }}</h2>

<h3>username:</h3> {{ user.username }}

<h3>e-mail:</h3> {{ user.email }}

{% if stars | length > 0 %}
<h3>Saved Stars:</h3>
<ul>    
{% for key, value in stars.iteritems() %}
    <li>
        <a href="/stars/{{ key }}">{{ key }}</a> 
        {% if 'name' in value %}
            {{ value['name'] }}
        {% else %}
            at ra: {{ '%.4f' | format(value['ra']) }} 
            dec: {{ '%.4f' | format(value['dec']) }}
        {% endif %}
    </li>
{% endfor %}
</ul>
{% endif %}
{% endblock %}
